{% extends './base.html' %}


{% block title %} Actualizar Cronograma De Citas {% endblock %}


{% block container %}


<div class="" style="background-color: rgb(255, 255, 255);">
	<div class="">

		<br>
			<h1  style="text-align: center;">Editar Comentario</h1>
		
		
		<div style="text-align: center;"><h2 >Nombre Del Paciente: </h2>
		<br>

		<h2>Numero de Documento</h2>
	
<br>
<br>
<br>


		<form action="" style="text-align: center;">
			
		 <label for="" class="label"> Editar Comentario: </label>  <input type="text" class="input input-fname">
	</p>

		</div>
		
		</form> 
		
							
		<a href="{{ '/historial_citas_paciente' }}"><input type="submit" value="Atrás"class="btn_actualizar_datos_paciente"></a>
                    
		<a href="{{ '#' }}"><input type="submit" value="Guardar"class="btn_actualizar_datos_paciente"></a>
				
				<br>
				<br>
				<br>
		</div>
		
	</div>
	
</div>

	
	{% endblock %}