{% extends './base.html' %}


{% block title %} Calificar Atención{% endblock %}


{% block container %}


<div class="" style="background-color: rgb(255, 255, 255);">
	<div class="">

		<br>
			<h1  style="text-align: center;">Calificar Atención Recibida</h1>
		
		
		<div style="text-align: center;"><h2 >Médico: </h2>
		<br>

		<h2> Por Favor Evalue del 1 al 5 la Atención Recibida</h2>
	
<br>
<br>
<br>


		<p>
			<label for="document" class="label">Calificar atención: *</label>
			<select name="document" id="document-type">
				<option value="0"></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="2">3</option>
				<option value="2">4</option>
				<option value="2">5</option>
				
			</select>
			</p>

		</div>
		
		</form> 
		
							
		<a href="{{ '/historial_citas_paciente' }}"><input type="submit" value="Atrás"class="btn_actualizar_datos_paciente"></a>
                    
		<a href="{{ '#' }}"><input type="submit" value="Guardar"class="btn_actualizar_datos_paciente"></a>
				
				<br>
				<br>
				<br>
		</div>
		
	</div>
	
</div>

	
	{% endblock %}