{% extends './base.html' %}


{% block title %} HOME {% endblock %}


{% block container %}

	
	<div class="fondo">
		<div class="form-container">
			
			<div class="menuizquierda" style="width: 20%; float:left" >	
				
				<div>
					<img src="{{ '/static/images/mision.png' }}" width="200px" alt="">
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div>
					<img src="{{ '/static/images/vision.png' }}" width="230px" alt="">
				</div>
				
				
			</div>	

			<br>

			

			<div style="width: 69%; float:right">
				<div class="register">
					<div class="form-container">
						<h1 class="title">MISIÓN</h1>
			
						<p class="conozcanos">
								Contribuir al cuidado de la vida y la recuperación de la salud, a través de la prestación de servicios de alta complejidad, centrados en la persona, con un equipo humano cálido y calificado para alcanzar desenlaces clínicos superiores, promover el cuidado del medio ambiente, la sostenibilidad económica y la permanencia en el tiempo.
							</p>


							<h1 class="title">VISIÓN</h1>
			
							<p class="conozcanos">
								
								Para el año 2025 la Clínica General Del Norte será reconocida por el desarrollo de centros de cuidado clínico con enfoque de atención basada en valor, consolidándose como una institución con estándares superiores de calidad, innovación y desarrollo tecnológico y como un gran lugar para trabajar.


							</p>
						
							
			
						   
							 
			
							
						
					</div>
				</div>
				</div>
			</div>



			


			
	
	
		</div>
	</div>
	
	{% endblock %}	