{% extends './base.html' %}


{% block title %} Cronograma de Citas {% endblock %}


{% block container %}


<div class="login">
	<div class="history-container">

		
			<h1 style="text-align: center;">Cronograma De Citas</h1>
		
		

		<div class="">
			<table   class="">

				<tr class="encabezado">
					<th>Fecha</th>
					<th>Hora</th>
					<th>Direccion</th>
					<th>Operacion</th>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Actualizar</a> <a href="">Eliminar</a></td>
					
				</tr>
			</table>
				
				
		</div>
		<a href="{{ '#' }}"><input type="submit" value="Modificar"class="btn_actualizar_datos_paciente" style="width: 200px;"></a>

				<a href="{{ '#' }}"><input type="submit" value="Guardar"class="btn_actualizar_datos_paciente" style="width: 200px;"></a>

				<a href="{{ '/perfil_usuario_medico' }}"><input type="submit" value="Atrás"class="btn_actualizar_datos_paciente" style="width: 200px;"></a>
	</div>
	
</div>

	
	{% endblock %}