{% extends './base.html' %}


{% block title %} Gestión de Usuarios {% endblock %}


{% block container %}
	
<div class="fondo">
	<div class="titulo_perfil_usuario">
		<h1>Gestión de Usuarios</h1>
	</div>
	<div class="form-container">
		<div class="form-containerAdmin" style="text-align: center;">		
			<table class="tablacitasprogramadas" style="margin: 10px">				
				<thead>
					<tr>
						<th class="cabeceratabla"> <h2 class="letracabecetabla" style="font-size: 13px;">FECHA DE RESGISTRO</h2> </th>		  
						<th class="cabeceratabla"> <h2 class="letracabecetabla" style="font-size: 13px;">NOMBRE</h2> </th>
						<th class="cabeceratabla"> <h2 class="letracabecetabla" style="font-size: 13px;">TIPO DE USUARIO</h2> </th>		
						<th class="cabeceratabla"> <h2 class="letracabecetabla" style="font-size: 13px;">EDITAR</h2> </th>
						<th class="cabeceratabla"> <h2 class="letracabecetabla" style="font-size: 13px;">ELIMINAR</h2> </th>					  
					</tr>
					
				</thead>
						
				<tbody>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Administrador</td>

						<td>Editar</td>

						<td> ---- </td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Medico</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Medico</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
					<tr>				  
						<td>xx/xx/xx</td>

						<td>Xxxxx xxxxxx xxxx xxxx</td>

						<td>Paciente</td>

						<td>Editar</td>

						<td>Eliminar</td>
					</tr>
						
					</tr>
				</tbody>

			</table>
			<a href="{{ '/perfil_admin' }}"><input type="submit" value="Atras"class="btn_perfiladmin" style="width: 100px;"></a>	
			<a href="{{ '/registro' }}"><input type="submit" value="Crear Usuario (Registrar)"class="btn_perfiladmin" style="width: 200px;"></a>
		</div>		
	</div>	
		<br>
		<br>
		
</div>			
{% endblock %}