{% extends './base.html' %}


{% block title %} Historial Cita Paciente {% endblock %}


{% block container %}


	
	<div class="fondo">

		<div class="titulo_perfil_usuario">
			<h1>Historial De Citas</h1>
		</div>
		<div class="form-container ">
			
				
				
				
				
				
			</div>	

			<br>

			


			<!-- ---------------------------------------------------------------------------- -->

			
				
				<table class="tablalistadocita">

				
					
		
					
				<thead>
					<tr>
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Hora</h2> </th>
				  
					  			  
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Médico </h2> </th>
		
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Estado </h2>  </th>
		
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Calificar </h2>  </th>
		
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Cancelar Cita </h2>  </th>
		
					  <th class="cabeceratabla"> <h2 class="letracabecetabla">Detalles  </h2>  </th>
		
					  
					</tr>
				</thead>
				  
				<tbody>	
				  
					<tr>
				  
						<td></td>
												
						<td></td>
			
						<td></td>

						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
			
						<td><a href="">Ver más </a></td>
				  
					</tr>
		
					
					<tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>



					  <tr>
				  
						<td></td>
													
						<td></td>
		  
						<td></td>
  
						<td><a href="">Ir a Calificar </a></td>
							
						<td><a href="">Cancelar Cita </a></td>
		  
						<td><a href="">Ver más </a></td>
					
					  </tr>
				  
					</tbody>
				  
				  </table>
				  
<br>
<br>
				  <a href="{{ '/perfil_usuario_paciente' }}"><input type="submit" value="Atrás"class="btn_actualizar_datos_paciente" style="width: 200px;"></a>


					</div>
					</div>
					</div>




				
				
			

			


			
	
	
		</div>
	</div>
	
	{% endblock %}