
{% extends './base.html' %}


{% block title %} Iniciar Sesión {% endblock %}


{% block container %}


	

		<div class="login">
			<div class="form-container">

				<h1 class="title">Iniciar sesiónn</h1>
				<div class="contenedor login " style="background-color: transparent;"  >

				
					<form action="" class="" method="post" >

						{{ frm.hidden_tag() }}
		

						<p>
							{{  frm.tipousuario.label  }}
							{{  frm.tipousuario }}
							{% for error in frm.tipousuario.errors %}
								<div>
									{{ error }}
								</div>
							{% endfor %}
						 </p>
						 <br>

						 <p>
							{{  frm.correo.label  }}
							{{  frm.correo }}
							{% for error in frm.correo.errors %}
								<div>
									{{ error }}
								</div>
							{% endfor %}
						 </p>

						<br>
		
						 <p>
							{{  frm.contrasena.label  }}
							{{  frm.contrasena }}
							{% for error in frm.contrasena.errors %}
								<div>
									{{ error }}
								</div>
							{% endfor %}
						 </p>
		
						
								
						 <br>
						 
							  <div>{{ frm.iniciarsesion }} </div>
							  <br>
							  <br>

							  <div>¿No tienes cuenta? <a href="{{ '/registropaciente' }}">Regístrate</a></div>

							  
						 
					</form>

					

			</div>
		</div>

	</div>

	{% endblock %}