{% extends './base.html' %}


{% block title %} Pacientes Atendidos {% endblock %}


{% block container %}


<div class="login">
	<div class="history-container">

		
			<h1 style="text-align: center;">Pacientes Atendidos</h1>
		
		

		<div class="">
			<table   class="">

				<tr class="encabezado">
					<th>Fecha De atención</th>
					<th>Paciente</th>
					<th>Comentario</th>
					<th>Editar Comentario</th>
					
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="{{ '/editar_comentario' }}">Editar</a> 
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Editar</a> 
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Editar</a> 
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Editar</a> 
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Editar</a> 
					
				</tr>

				<tr class="sub-colums">
					
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td>XXXXXXXXXXXXXXXXXX</td>
					<td><a href="">Editar</a> 
					
				</tr>
			</table>
				
				<br>
				<br>
				<br>
		</div>
		
	</div>
	
</div>

	
	{% endblock %}