{% extends './base.html' %}


{% block title %} Perfil De Médico {% endblock %}


{% block container %}



	
	<div class="fondo">
		<div class="form-container">
			
			<div class="menuizquierda" style="width: 20%; float:left" >	
				
				<div>
					<ul>
						<a href="{{ '/actualizar_datos_medico' }}"><input type="submit" value="Actualizar Datos" class="boton_perfil_usuario"></a>

											
						<br>
						<br>
						<br>
						<a href="{{ '/gestionar_citas_medico' }}"><input type="submit" value="Atender Pacientes" class="boton_perfil_usuario"></a>
						<br>
						<br>
						<br>
						<a href="{{ '/cronograma_citas' }}"><input type="submit" value=" Cronograma De Citas"  class="boton_perfil_usuario"></a>

						<br>
						<br>
						<br>
						<a href="{{ '#' }}"><input type="submit" value=" Pacientes Atendidos"  class="boton_perfil_usuario"></a>
						
						
						
					</ul>
				</div>
				
				
				
			</div>	

			<br>

			

			<div style="width: 69%; float:right">
				<div class="register">
					<div class="form-container">
						<h1 class="title">Perfil Del Médico</h1>
			
						<form action="/" class="form">
							<p>
							<label for="document" class="label">Tipo de documento: *</label>
							<select name="document" id="document-type">
								<option value="0"></option>
								<option value="1">Cédula de Ciudadanía</option>
								<option value="3">Cédula de Extranjería</option> 
								
							</select>
							</p>
			
							<p>
							<label for="number" class="label">Número de documento: *</label>
							<input type="number" class="input input-number">
							</p>
			
							<p>
							<label for="fname" class="label">Nombre Completo: *</label>
							<input type="text" class="input input-fname">
							</p>
							
							<p>
							<label for="fname" class="label">Especialidad: *</label>
							<input type="text" class="input input-especialidad">
							</p>

							<p>
							<label for="lname" class="label">N° Registro Médico: *</label>
							<input type="number" class="input input-especialidad">
							</p>
			
							<p>
							<label for="birthdate" class="label">Fecha de nacimiento: *</label>
							<input type="date" class="input input-birthdate">
							</p>
			
							<p>
							<label for="phone" class="label">Teléfono: *</label>
							<input type="number" class="input input-phone">
							</p>
			
							<p>
							<label for="email" class="label">Correo: *</label>
							<input type="email" class="input input-email">
							</p>
			
							<p>
							<label for="direccion" class="label">Direccion: *</label>
							<input type="text" class="input input-direccion">
							</p>
			
							
						</form>
							
			
						   
							 
			
							
						</p>
					</div>
				</div>
				</div>
			</div>



			


			
	
	
		</div>
	</div>
	
	{% endblock %}